<h1>Tasks#action</h1>
<p>Find me in app/views/tasks/action.html.erb</p>

<ul>
  <% @tasks.each do |task| %>
    <li>
      <% if task.completed %>
        <input type = "checkbox" checked>
      <% else %>
        <input type = "checkbox">
      <% end %>
      <%= task.title %>
    </li>
    <%= link_to 'show', task_path(task)  %>
  <% end %>
</ul>
