
<ul>
    <li>
      <% if @task.completed %>
        <input type = "checkbox" checked>
      <% else %>
        <input type = "checkbox">
      <% end %>
      <%= @task.title %>
    </li>
    <p><%= link_to 'destroy this task',  destroy_task_path(@task), method: :delete, data: { confirm: 'are you sure?'} %></p>
    <p><%= link_to 'back to the list', tasks_path %></p>

</ul>

